;;;;   -*- Mode: lisp; encoding: utf-8; -*-

;;;
;;; The sample configuration file
;;;

(:db-connection-spec '(#P"/var/run/postgresql/.s.PGSQL.5432" "abstract5" "jc" nil 5432))
#+XXX
(:site (:name defstruct
	:domains ("www.defstruct.com" "defstruct.com")
	;; NOTE: db-schema is "defstruct"
	;;	 home is "/path-to-abstract5/site-instances/defstruct"
	))
#+XXX
(:site (:name test
	:domains ("test.defstruct.com")))