;;;;   -*- Mode: lisp; encoding: utf-8; -*-

;;;
;;; The sample configuration file
;;;

(:database (:server "localhost"
	    :username "abstract5"
	    ;; NOTE: instead of using :password,
	    ;; using PostgreSQL's own authentication method recommended.
	    ;; E.g. allow local socket connection without password
	    :password "#1 the strongest(?) password."
	    :name "abstract5"))

(:site (:name defstruct
	:domains ("www.defstruct.com" "defstruct.com")
	;; NOTE: usually no need to pass :db-schema and :folder
	;; The values will be from site name.
	;; E.g. :db-schema "defstruct"
	;;	:folder "/path-to-abstract5/site-instances/defstruct"
	))

(:site (:name test
	:domains ("test.defstruct.com")))